@model Day2_Demo_Razor.Models.Products
@{
    ViewBag.Title = "FindDetailsByCategoryID";
}

<h2>FindDetailsByCategoryID</h2>

@using (Html.BeginForm("FindDetailsByCategoryID", "Products"))//Post
{
    //    @Html.LabelFor(p => p.CategoryId)
    @Html.Label("Enter Category ID to search Products in that category")
    @Html.TextBox("id")



    <input type="submit" value="GetData" />

    if (ViewBag.GetDataByCategoryID != null)
    {
        <table>
            <tr><th>ID</th><th>Name</th><th>Price</th></tr>

            @foreach (var item in ViewBag.GetDataByCategoryID)
            {
                <tr>
                    <td>@item.ProductId</td>
                    <td>@item.ProductName</td>
                    <td>@item.UnitPrice</td>


                </tr>


            }
        </table>
    }
    @*else
        {
        <label>No such Cateogy Id Exists....</label>


        }*@




}
